$buttonSize: 16px;
$betwenButtons: 2px;
$buttonsPerLine: 10;
.color-selector {
    .btn {
        border: none;
        border-radius: 0;
        padding: 0;
        font-size: .875rem;
        .color-selector-text {
            font-size: 23px;
        }
    }
    .dropdown-menu {
        width: ($buttonSize + $betwenButtons) * $buttonsPerLine;
        min-width: $buttonSize + $betwenButtons;
        border-radius: 0;
        padding: 0 $betwenButtons $betwenButtons 0;
        display: inline-block;
        box-sizing: content-box;
        &:after {
            clear: both;
            content: " ";
            display: table;
        }
        .colorscheme {
            width: $buttonSize;
            height: $buttonSize;
            margin: $betwenButtons 0 0 $betwenButtons;
            display: block;
            float: left;
            &:nth-child(#{$buttonsPerLine}),
            &:nth-child(#{$buttonsPerLine * 2}) {
                margin-bottom: $betwenButtons * 3;
            }
        }
    }
    .selected-color,
    .selected-font-color {
        display: inline-block;
        width: 8px;
        height: 17px;
    }
    .selected-color {
        margin-top: 3px;
    }
}