.menu {
    .mdi-logout-variant {
        float: right;
        padding-top: 1.25rem; //скопировано из .pmd-navbar .navbar-nav>li>a
        padding-bottom: 1.25rem;
        width: 70px;
        border-radius: 0;
        background-color: black;
        color: white;
    }
}

body {
    background-color: #fff;
    font-family: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
}