.reset-modal {
    .mdi-alert:before {
        color: red;
        font-size: 32px;
        margin-left: 15px;
    }
    .modal-body {
        background: none;
        display: flex;
        align-items: center;
    }
}