.level-button-editor {
    .form-group {
        display: flex;
        align-items: center;
        div:first-child {
            line-height: 1; // Чтоб выглядело как на мокапе
        }
	.btn {
            white-space: normal;
	}
    }
}