ux-dialog-overlay.active {
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.6);
}

ux-dialog-container {
    overflow: hidden;
    ux-dialog {
        background-color: white;
        text-align: center;
        overflow: hidden;
        border-radius: 0;
        border: none;
        padding: 0;
        .modal-header {
            background-color: #4285f4 !important;
            color: #fff;
        }
        & > ux-dialog-header{
            border-radius: 0;
        }
        & > ux-dialog-body {
            background-color: #ededed;
            display: block;
            padding: 0px;
        }
        & > ux-dialog-footer {
            button {
                width: 100px;
            }
        }
    }
}
$height-sm: 15vh;
$width-sm: 30vw;
.ux-dialog-sm {
    height: $height-sm!important;
    width: $width-sm !important;
    max-height: $height-sm !important;
    max-width: $width-sm!important;
    min-height: $height-sm !important;
    min-width: $width-sm !important;
}

$height-md: 75vh;
$width-md: 45vw;
.ux-dialog-md {
    height: $height-md !important;
    width: $width-md !important;
    max-height: $height-md !important;
    max-width: $width-md !important;
    min-height:$height-md !important;
    min-width: $width-md !important;
    ux-dialog-body {
        max-height: calc(#{$height-md} - 105px);
        height: calc(#{$height-md} - 105px);
        min-height: calc(#{$height-md} - 105px);
        overflow-y: auto;
    }
}

$height-lg: 90vh;
$width-lg: 90vw;
.ux-dialog-lg {
    height: $height-lg !important;
    width: $width-lg !important;
    max-height: $height-lg !important;
    max-width: $width-lg !important;
    min-height: $height-lg !important;
    min-width: $width-lg !important;
    ux-dialog-body {
        max-height: calc(#{$height-lg} - 105px);
        height: calc(#{$height-lg} - 105px);
        min-height: calc(#{$height-lg} - 105px);
        overflow-y: auto;
    }
}