$space: 20px; // как margin у alert
.back-panel {
    padding-top: $space;

    .btn-back {
        display: inline-block;
        color: black;
        background-color: white;
        padding-bottom: 14px;
        padding-top: 14px; // почему-то шрифт "Material Design Icons" добавляет два пиксела высоты, пришлось отнять от 15px (как у alert) один пиксел
        margin-right: $space / 2;
    }

    .title-container {
        overflow: hidden;
    }

    .alert {
        border-color: grey;
    }
}
