html,
body {
    height: 100%;
    margin: 0;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

notification-host {
    display: block;
    transition: opacity .2s linear;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    z-index: 1000;
}