.card-item {
    border: 1px solid #ddd;
    .header {
        .close-btn {
            position: absolute !important;
            top: 3px;
            right: 3px;
        }
        &.active {
            background: #3F51B5 !important;
        }
        .pmd-card-title {
            .tools-container {
                position: absolute;
                right: 3px;
                top: 3px;
            }
        }
    }

  
}