$space: 20px; // как margin у alert
$table-padding-top: 51px;
.button-table,
.info-table {
    padding-top: $table-padding-top;
    table.pmd-table {
        tbody {
            tr {
                td {
                    vertical-align: top;
                    .mdi-printer {
                        font-size: 100%;
                    }
                }
            }
        }
    }
    .mb {
        margin-bottom: $space;
    }
    .back-panel {
        /* padding-top: 20px; */
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
        padding: 15px;
        background-color: #f8f9fa;
    }
    .alert {
        margin-bottom: 0;
    }
    &.background {
        position: absolute;
        z-index: -1;
    }
    &.table-container {
        min-height: calc(100% - #{$table-padding-top});
    }
}