@model IEnumerable<string>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Language Fetures</title>
</head>
<body>
    <ul>
        @foreach (string s in Model)
        { 
            <li>@s</li>
        }
        o ma gad
    </ul>
</body>
</html>

